{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Category</a></li>
                <li class="active">Product Name Goes Here</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!--  Product Details -->
                <div class="product product-details clearfix">
                    <div class="col-md-6">
                        <div id="product-main-view">
                            <div class="product-view">
                                <img style="width: 300px" src="{{ book.cover.url }}" alt="">
                            </div>
                            {% for image in book.image_set.all %}
                                <div class="product-view">
                                    <img style="width: 300px" src="{{ image.image.url }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <div id="product-view">
                            <div class="product-view">
                                <img src="{{ book.cover.url }}" alt="">
                            </div>
                            {% for image in book.image_set.all %}
                                <div class="product-view">
                                    <img src="{{ image.image.url }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-body">
                            <div class="product-label">
                                <span>New</span>
                                <span class="sale">-20%</span>
                            </div>
                            <h2 class="product-name">{{ book.name }} by {{ book.authors }}</h2>
                            <h3 class="product-price">${{ book.price2 }}
                                <del class="product-old-price">${{ book.price }}</del>
                            </h3>
                            <div>
                                <div class="product-rating">
                                    {% for i in range %}
                                        {% if i <= book.rating_avg %}
                                            <i class="fa fa-star"></i>
                                        {% else %}
                                            <i class="fa fa-star-o empty"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <a href="#">{{ book.comment_set.count }} Review(s) / Add Review</a>
                            </div>
                            <p><strong>Availability:</strong> In Stock</p>
                            <p><strong>Brand:</strong> E-SHOP</p>
                            <p>{{ book.description }}</p>
                            <hr>
                            <div class="product-btns">
                                <div class="qty-input">
                                    <span class="text-uppercase">QTY: </span>
                                    <input class="input" type="number">
                                </div>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                                <div class="pull-right">
                                    {{ book.likes }}
                                    <a href="{% url 'likes' book.slug %}" class="main-btn icon-btn"><i
                                            class="fa fa-heart"></i></a>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product-tab">
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                <li><a data-toggle="tab" href="#tab2">Reviews ({{ book.comment_set.count }})</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane fade in active">
                                    <p> {{ book.description }} </p>
                                </div>
                                <div id="tab2" class="tab-pane fade in">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="product-reviews">

                                                {% for comment in book.comment_set.all %}
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div>
                                                                <a href="#"><i class="fa fa-user-o"></i> {{ comment.user.username }} </a>
                                                            </div>
                                                            <div>
                                                                <a href="#"><i class="fa fa-clock-o"></i> {{ comment.created }}</a>
                                                            </div>
                                                            <div class="review-rating pull-right">
                                                                {% for i in range %}
                                                                    {% if i <= comment.rating %}
                                                                        <i class="fa fa-star"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p> {{ comment.text }} </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                                <ul class="reviews-pages">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-uppercase">Write Your Review</h4>
                                            <p>Your email address will not be published.</p>
                                            <form class="review-form" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {% render_field form.text class="input" placeholder="Your review" %}
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-rating">
                                                        <strong class="text-uppercase">Your Rating: </strong>
                                                        <div class="stars">
                                                            <input type="radio" id="star5" name="rating" value="5"/><label for="star5"></label>
                                                            <input type="radio" id="star4" name="rating" value="4"/><label for="star4"></label>
                                                            <input type="radio" id="star3" name="rating" value="3"/><label for="star3"></label>
                                                            <input type="radio" id="star2" name="rating" value="2"/><label for="star2"></label>
                                                            <input type="radio" id="star1" name="rating" value="1"/><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Picked For You</h2>
                    </div>
                </div>
                <!-- section title -->

                <!-- Product Single -->
                {% for bc in book_categories %}
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="{{ bc.cover.url }}" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">${{ bc.price2 }} <del class="product-old-price">{{ bc.price }}</del></h3>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">{{ bc.name }}</a></h2>
                            <div class="product-btns">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /Product Single -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}

