<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Blog Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <hr>
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">Categories</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for c in categories %}
                        <li class="nav-item">
                            <a href="#" class="nav-link link-dark"> {{ c.name }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">Authors</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for author in authors %}
                        <li class="nav-item">
                            <a href="#" class="nav-link link-dark"> {{ author.first_name }} {{ author.last_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <hr>
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">Language</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for l in lungauges %}
                        <li class="nav-item">
                            <a href="#" class="nav-link link-dark"> {{ l.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-lg-9">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
<footer>
    Footer
</footer>


<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>