{% extends 'base.html' %}


{% block content %}

<hr>
    <div class="row mb-2">
        {% for book in books %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="{{ book.cover.url }}"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                        </img>
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ book.name }}</strong>
                        <h3 class="mb-0">{{ book.authors }}</h3>
                        <div class="mb-1 text-muted">Price: <b>{{ book.price }}</b></div>
                        <div class="mb-1 text-muted">{{ book.created }}</div>
                        <p class="card-text mb-auto">{{ book.description | truncatechars:50 }}</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}